
/*
Este es un comentario.
*/
* {
    box-sizing: border-box; 
    background-color: white;
    
  }
  
  body {
    font-family: Arial;
    font-size: 17px;
  }
  body .titulos {
    
        color:cornflowerblue;
        background-color: rgb(180, 236, 218);
    
  }
  /* Dark mode*/

.dark_mode_box{
  position: right;
}
.dark_mode_button{
  position: right;
  top: 20 px;
  left: 20 px;
  padding: 20 px;
  background: rgb(97, 172, 242);
  border-radius: 5%;
}
html.dark_mode{
  filter:invert(100%) ;
}

html.dark_mode img{
  filter: invert(100%);
}


/*
Modo transparente.
*/
  .container {
    position: relative;
    width: 95%;
    margin: 30px auto;
    
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    
    background: rgb(0, 0, 0) ; /* Fallback color */
    background: rgba(0, 0, 0, 0.5) !important ; /* Black background with 0.5 opacity */
    /*color: #f1f1f1;*/
    color:black;
    width: 100%;
    padding: 20px;
  }

/* Ctrl k c */



 
  
  